/* From Uiverse.io by vinodjangid07 */
.editBtn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
}
.editBtn:hover::before {
    transform: scale(1);
}
.editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
    height: 13px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
}
.editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 9px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
    transform: scaleX(1);
    left: -10px;
    transform-origin: right;
}

/* From Uiverse.io by vinodjangid07 */
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
}
.bin-bottom {
    width: 12px;
    z-index: 2;
}
.bin-top {
    width: 15px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
}
.bin-button:hover .bin-top {
    transform: rotate(45deg);
}
.bin-button:hover {
    background-color: rgb(255, 0, 0);
}
.bin-button:active {
    transform: scale(0.9);
}
.garbage {
    position: absolute;
    width: 10px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}
.bin-button:hover .garbage {
    animation: throw 0.4s linear;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 38px;
    color: #697a8d;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #d9dee3;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 38px;
}

#material th:not(:first-child),
#material td:not(:first-child) {
    min-width: 110px;
    max-width: unset;
    text-align: center;
}

.rub-row.editing {
    background-color: #c0f9c0 !important;
}

@keyframes throw {
    from {
        transform: translate(-400%, -700%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
