/* From Uiverse.io by vinodjangid07 */
.editBtn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.editBtn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
}
.editBtn:hover::before {
    transform: scale(1);
}
.editBtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
    height: 13px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
}
.editBtn:hover svg {
    transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
    content: "";
    width: 25px;
    height: 1.5px;
    position: absolute;
    bottom: 9px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
    transform: scaleX(1);
    left: -10px;
    transform-origin: right;
}

/* From Uiverse.io by vinodjangid07 */
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
}
.bin-bottom {
    width: 12px;
    z-index: 2;
}
.bin-top {
    width: 15px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
}
.bin-button:hover .bin-top {
    transform: rotate(45deg);
}
.bin-button:hover {
    background-color: rgb(255, 0, 0);
}
.bin-button:active {
    transform: scale(0.9);
}
.garbage {
    position: absolute;
    width: 10px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}
.bin-button:hover .garbage {
    animation: throw 0.4s linear;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.ui.pagination.menu .active.item {
    padding: 0.5em 1em;
}

.ui.celled.table > tbody > tr.selected > td,
.ui.celled.table > tbody > tr.selected > th,
.ui.celled.table > tfoot > tr.selected > td,
.ui.celled.table > tfoot > tr.selected > th,
.ui.celled.table > thead > tr.selected > th,
.ui.celled.table > tr.selected > td,
.ui.celled.table > tr.selected > th {
    border-left: none;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 38px;
    color: #697a8d;
}

.select2-container--default .select2-selection--single,
.select2-container .select2-selection--multiple {
    border: 1px solid #d9dee3;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 38px;
}

#material th:not(:first-child),
#material td:not(:first-child) {
    min-width: 110px;
    max-width: unset;
    text-align: center;
}
#material-heating th:not(:first-child),
#material-heating td:not(:first-child) {
    min-width: 110px;
    max-width: unset;
    text-align: center;
}

#material-heating2 th:not(:first-child),
#material-heating2 td:not(:first-child) {
    min-width: 110px;
    max-width: unset;
    text-align: center;
}

/* .layout-page {
    background-color: bisque;
} */

.rub-row.editing {
    background-color: #c0f9c0 !important;
}

.warehouses {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(6, 150px);
    grid-auto-rows: 50px;
    grid-auto-flow: column-reverse;
    gap: 3px;
    direction: rtl;
}

.grid-item {
    background-color: rgb(209, 236, 245);
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    direction: ltr;
    cursor: pointer;
    text-align: center;
}

.grid-item:hover {
    background-color: rgb(15, 186, 243);
    cursor: cursor;
}

.grid-item.occupied {
    background-color: rgb(197 137 6);
    color: #fff;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: unset;
    cursor: pointer;
}

.stock-wrap .grid-item.occupied {
    cursor: not-allowed;
    pointer-events: none;
}

.grid-item.occupied span {
    font-size: 10px;
}

.warehouse-container {
    overflow-x: auto;
}

.stock-wrap {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 50px;
    /* background-color: #000; */
    background-color: #00000090;
    backdrop-filter: blur(10px);
    transform: scale(0);
    opacity: 0;
    /* transition: 0.5s ease; */
    @media (max-width: 900px) {
        padding: 20px;
    }
}

.stock-wrap.active {
    transform: scale(1);
    opacity: 1;
}

.wares-stock .tab-content {
    width: fit-content;
    @media (max-width: 900px) {
        width: 100%;
    }
}

.close {
    position: absolute;
    font-size: 50px;
    color: #fff;
    top: 0;
    right: 50px;
    cursor: pointer;
}

.ware-form .cus-input {
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@keyframes throw {
    from {
        transform: translate(-400%, -700%);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
